!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .note_content
      %p
        Dear #{@network_participant.first_name.titleize}
      %p
        = "#{@current_participant.full_name.titleize} has added you to their network within the DRIVE online tool. Now that you’re in their network they can share files and notes that they’ve uploaded with you through the online tool."
      %p
        To add any DRIVE participant to your own network, just visit the My Network section of your dashboard.      
      %p
        Thanks
        %br/
        DRIVE Support