!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p 
      Dear #{@participant.first_name.titleize}
    %p 
      #{@current_participant.full_name.titleize} has shared a file with you through the DRIVE online tool.
    %p
      You’ll find a copy of the file attached to this email, and it’s also stored in the My Files section of your DRIVE online tool. 
    %p
      To upload and share your own files, simply visit the My Files section and choose a participant from your DRIVE network.
    
    %p
      Thanks
      %br/
      DRIVE Support
    