!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3= "Dear #{@participant.full_name.titleize}"
    %p= "I have shared a file with you."
    %br/
    %p
      Kind regards
    %p
      The DRIVE Programme Team