.row
  .col-xs-12.col-md-12
    %h2.dark-blue.pull-left.page-header
      %b Parthiv Patel
      .btn-group.pull-right.edit_profile_link
        = link_to 'Edit', class: 'pull-right'
.row
  .col-xs-4.col-md-4
    %h3.dark-blue
      %b Profile
    .form-group
      %label.dark-blue Job Title
      .input
        %span.common-font-color Manager
    .form-group
      %label.dark-blue Division
      .input
        %span.common-font-color UK Bus
    .form-group
      %label.dark-blue Year Started
      .input
        %span.common-font-color 2014
    .form-group
      %label.dark-blue Email
      .input
        %span.common-font-color parthiv.patel@beaverlogic.com
    .form-group
      %label.dark-blue Photo
      .input
        = image_tag('logo1.png')

  .col-xs-3.col-md-4
    %h3.dark-blue
      %b Fit Plan Results
    .col-xs-9.col-md-9
      .row
        %b.common-font-color Behaviour
    .col-xs-2.col-md-2
      %b.common-font-color Score
    .row
      .col-xs-9.col-md-9
        .common-font-color Customer Orientation
      .col-xs-1.col-md-1
        1
    .spacer5.spacer-width
    .row
      .col-xs-9.col-md-9
        .common-font-color Target & Results Focus
      .col-xs-1.col-md-1
        2
    .spacer5.spacer-width
    .row
      .col-xs-9.col-md-9
        .common-font-color Strategic Focus
      .col-xs-1.col-md-1
        3
    .spacer5.spacer-width
    .row
      .col-xs-9.col-md-9
        .common-font-color Managing & Developing People
      .col-xs-1.col-md-1
        4
    .spacer5.spacer-width
    .row
      .col-xs-9.col-md-9
        .common-font-color Striving For Innovation
      .col-xs-1.col-md-1
        5
    .spacer5.spacer-width
    .row
      .col-xs-9.col-md-9
        .common-font-color Change Management
      .col-xs-1.col-md-1
        6
    .spacer5.spacer-width
    .row
      .col-xs-9.col-md-9
        .common-font-color Corporate Responsibility
      .col-xs-1.col-md-1
        7
    .spacer5.spacer-width
    .row
      .col-xs-9.col-md-9
        .common-font-color Role Model Function
      .col-xs-1.col-md-1
        8
    .spacer5.spacer-width
    .row
      .col-xs-9.col-md-9
        .common-font-color Dealing With Complexity
      .col-xs-1.col-md-1
        9
    .spacer65.spacer-width
  .col-xs-3.col-md-3{style:'position: relative; height: 590px;'}
    %h3.dark-blue
      %b Performance Summary
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor risus ac lacus euismod porttitor. Aliquam vel tristique sem. Vestibulum ultrices lacus mi, et dictum lectus dignissim dignissim. Proin ultrices euismod massa, a ornare nisi consequat eget. Duis ut quam vel lorem ullamcorper aliquam sed sit amet eros.
    .row
      %button.btn.btn-sign-in.pull-left{style: 'position: absolute; top: 400px; right: 0%; width: 72%;'} View Activity
    .row
      %button.btn.btn-sign-in.pull-left{style: 'position: absolute; top: 440px; right: 0%; width: 72%;'} Disable Acount
    .row
      %button.btn.btn-sign-in.pull-left{style: 'position: absolute; top: 480px; right: 0%; width: 72%;'} Re-send Participant Invite
    .row
      %button.btn.btn-sign-in.pull-left{style: 'position: absolute; top: 520px; right: 0%; width: 72%;'} Done
