// =========Participants theme overrides
.loginbox input[type="password"], .loginbox input[type="email"] {
    background: none repeat scroll 0 0 #677D7B;
    border: 0 none;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    margin-bottom: 0;
    padding: 0 15px;
    text-transform: lowercase;
    width: 100%;
}

.leftsidebar_activity_label_font_size{
  font-size: 9px !important;
}

.months-without-anchor{
  margin-bottom:60px; display:block; text-align:right; margin-right:10px;
}

// ==========Custom overrided notes
.notes-custom{ float:left;}
.notes-custom ul{ margin:0px; padding:0px; list-style:none;}
.notes-left { width:80% !important; padding:5px; margin-bottom:10px; position:relative;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:rgba(255,255,255,0.3); width:100%; display:inline-block; min-height:75px; }
.notes-right{ float: right; margin-right: 10px; }
.notes-custom ul li div.notesicon{ width:30px; margin-left:10px; position:absolute; right:5px; bottom:0px;}
.notes-custom ul li div.notesicon a{ display:inline-block; margin-bottom:5px;}
.notes-custom ul li a:hover .icon-share{ background-position:-360px -30px;}
.notes-custom ul li a:hover .icon-delete{ background-position:-480px -30px;}

.notes-custom ul li div.notedetails{ margin-right:40px;}
.notes-custom ul li div.notedetails h5{ font-size:11px; margin-bottom:7px;}
.notes-custom ul li div.notedetails h5 span.date{ color:#b0c64c;}
.notes-custom ul li div.notedetails h5 span.time{}
.notes-custom ul li div.notedetails h5 span.eventname{ display:block;}
.notes-custom ul li div.notedetails p{ margin-bottom:7px; font-size:9px;}

.notes-custom ul li div.notesicon_myfile{ margin-left:10px; position:absolute; right:5px; bottom:0px;}
.notes-custom ul li div.notesicon_myfile a{ display:inline-block; margin-bottom:5px;}
.notes-custom ul li div.notesicon_myfile a:hover .icon-somebody{ background-position:-660px -30px;}

.text-center {
    margin-left: 86px;
    margin-top: 10px;
}

.mynetworklist ul li {
    min-height: 69px !important;
}

#events-li-width {
    width: 304px !important;
}

.notes-left-width {
    width:304px !important;
}

.participant-box-width{
  min-width:380px;
}

.correct-answer{
  background-color: #98A198;
  border-radius: 7px;
}

.noTitleStuff .ui-dialog-titlebar {display:none}

#answer-dialog-box > span {
  font-size: 16px;
}

.font-size-11{
  font-size: 11px !important;
}

.participant-width-fixed {
  width:360px !important;
}

.events_overflow_scroll {
  overflow-x: hidden; overflow-y: visible;
}

.event_content_height {
  height: 177px !important;
}

.event_image_height_width {
  height: 122px !important;
  width: 122px !important;
}

.nano_slider_display_block {
  display: block !important;
}

#nano_slider {
  height: 279px;
  transform: translate(0px, 114.236px);
}

.lime-color{
  color: #C2D52B;
}

.break-long-url {
  word-wrap: break-word;
}

.notes-month-hover {
  cursor: default !important;
}

.font-size-15 {
  font-size: 15px;
}

.capital-font{
  text-transform: uppercase;
}

.lowercase-font{
  text-transform: lowercase !important;
}

.padding-top-2{
  padding: 3px 0 0 2px;
  position: relative;
}

.participant_img {
  height: 55px;
  width: 55px;
}

.circulplus {
  width: 191px !important;
}

.green-block {
  background-color: #87A4AE !important;
  height: 8px !important;
  width: 8px !important;
  display: block;
  float:left;
  position: absolute;
  margin-top: 2px;
}

.margin-left-2{
  margin-left: 18px;
  float: right;
}

.monthright-custom {
  padding-right: 40px !important;
  margin-left: 0px;
  padding-left: 24px !important;
}

.notes-custom {
  margin-top: 3px;
}

.activity-text {
  width: 250px;
}

.max-width-360 {
  max-width: 360px ! important;
}

.width-100-perc {
  width: 100% !important;
}

.width-60-perc {
  width: 60% !important;
}

// =========Style css overrides
.changespassword input[type="password"]{ background:#677d7b; border:0px; border-radius:15px; height:30px; line-height:30px; padding:0px 15px; width:100%; color:#fff; margin-bottom:0px; font-size:12px; text-transform:uppercase;}

// =========For Sign in pages
.sign_in_labels {
  font-size: 14px;
  color: #C7D542;
}

.spacer5 { height: 5px; }

.activity_textarea_scroll {
  overflow-x: hidden;
  overflow-y: hidden !important;
}

// ==========Remove logo border IE 9/10
.header_logo_border_IE {
  outline : 0; border: 0;
}

.writeicon-width {
  width: 210px !important;
}

.online_course_icon{
  float:left;
  height: 70px;
  width: 69px;
  background-image: url(/assets/icon-online_course.svg);
}

.resize_online_course_icon{
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 7px;
}

.online_course_icon:hover{
  float:left;
  height: 70px;
  width: 69px;
  background-image: url(/assets/hover_online_course.png);
}