@media (max-width:767px){
	.wrapper{ margin:0px auto; width:90%;}
	.loginpage, .loginsection, .loginwelcome, .loginsection, .contentarea, .leftsidebar, .welcomeboxrowleft, .welcomeboxrowright{ padding:0px; margin:0px; display:inline-block; width:100%;}
	.mediumbox, .progressbarblock{ width:100%;}
	.rightsidebar, .arriva{ width:100%; text-align:left;}
	.values img.colorbg{height:415px;}
	
	
}
@media (min-width:768px) and (max-width:991px) {
	body{ font-size:10px;}
	.wrapper{ margin:0px auto; width:90%;}
	.loginpage{ padding:0px; margin:0px;}
	.values img.colorbg{height:415px;}
	.circulbox{margin-right:45px;}
}

@media (min-width:992px) and (max-width:1199px) {
	
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-resolution: 240dpi) {
		[class^="icon"] {
				background-image: url(../images/icon-spritesall2x.png);
			}
		[class^="bigicon"]{ background-image: url(../images/icon-spritesall2x.png);}

}
