@media (max-width:767px){
	.wrapper{ margin:0px auto; width:90%;}
	.loginpage, .loginsection, .loginwelcome, .loginsection, .contentarea, .leftsidebar, .welcomeboxrowleft, .welcomeboxrowright{ padding:0px; margin:0px; display:inline-block; width:100%;}
	.mediumbox, .progressbarblock{ width:100%;}
	.rightsidebar, .arriva{ width:100%; text-align:left;}
	
	
}
@media (min-width:768px) and (max-width:991px) {
	body{ font-size:10px;}
	.wrapper{ margin:0px auto; width:90%;}
	.loginpage{ padding:0px; margin:0px;}
}

@media (min-width:992px) and (max-width:1199px) {
	
}