*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align:top;}
:before, :after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
body{ font-size: 11px; color:#fff; margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6, p, ul, li{ margin:0px; padding:0px; font-family: 'Open Sans', sans-serif; font-weight:normal;}
input, textare{ font-family: 'Open Sans', sans-serif; margin:0px; padding:0px;}
a{ color:#fff; text-decoration:none; transition: all 0.7s ease 0s;}
a:hover, a:focus{ color:#c2d52b; outline:none;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
* html .clearfix { height: 1%; }
.clearfix{display:block;}
header, section{ display:block;}
img{max-width: 100%;}
.green{ color:#c8d92b;}
.black{ color:#000;}
.left{ float:left;}
.right{ float:right;}
.uppercase{ text-transform:uppercase;}

.mainbg{ position:fixed; z-index:-1;}
.mainbg img{height: 100%; position: fixed; width: 100%;}

.wrapper{ max-width:800px; margin:0px auto;}
.wrapper:before, .wrapper:after{content: " "; display: table; clear:both;}

header{ margin-top:50px; margin-bottom:80px;}

.mainsection{ display:block;}

[class^="icon"]{ display: inline-block; width:30px; height:30px; background: url(../images/icon-sprites.png); background-repeat: no-repeat; margin-right:10px; transition: all 0.7s ease 0s;}
.icon-home{ background-position: 0px 0px;}
.icon-values{ background-position: -30px 0px;}
.icon-activities{ background-position: -60px 0px;}
.icon-events{ background-position: -90px 0px;}
.icon-notes{ background-position: -120px 0px;}
.icon-network{ background-position: -150px 0px;}
.icon-logout{ background-position: -180px -0px;}
.icon-login{ background-position: -210px 0px;}
.icon-sustainable{background-position: -240px -30px;}
.icon-amazon{background-position: -270px -0px;}
.icon-write{background-position: -300px -0px;}
.icon-backtoactivities{ background-position:-330px 0px;}
.icon-share{ background-position:-360px 0px;}
.icon-save{ background-position:-420px 0px;}
.icon-attach{ background-position:-450px 0px;}
.icon-delete{ background-position:-480px 0px;}
.icon-watchvideo{ background-position: -510px -30px; }
.icon-previus{ background-position:-540px 0px;}
.icon-next{ background-position:-570px 0px;}
.icon-info{ background-position:-600px 0px;}
.icon-behaviour{ background-position:-630px 0px;}
.icon-somebody{ background-position:-660px 0px;}
.icon-notesave{ background-position:-690px 0px;}
.icon-cancel{ background-position:-720px 0px;}
.icon-done{ background-position:-750px 0px;}





.loginpage{ padding-left:100px;}
.loginwelcome{ width:375px; float:left; margin-bottom:60px;}
.loginwelcome h1{ font-size: 36px; text-transform: uppercase; color: #fff; margin: 0px 0px 15px 0px; padding:0px; }
.loginwelcome span{ text-transform:uppercase;}
.btnwatchvideo{ display: inline-block; line-height: normal; text-transform: uppercase; vertical-align:top; padding-top:3x; color: #fff;}
.btnwatchvideo span{ color:#cedf37;}

.watchvideorow{ line-height: normal; padding-top: 60px;}
.watchvideorow a{ color: #fff; text-decoration: none;}
.watchvideorow a:hover .icon-watchvideo{background-position: -510px 0px;}

.loginsection{ float:left; width:200px; margin-left:35px;}
.loginbox{ padding-top:50px; display:block; clear:both;}
.loginbox input[type="text"]{ background:#677d7b; border:0px; border-radius:15px; height:33px; line-height:33px; padding:0px 15px; width:100%; color:#fff; margin-bottom:0px; font-size:12px; text-transform:uppercase;}
.loginbox a span.logintext{ display:inline-block; vertical-align:top; line-height:35px; text-decoration:none; color: #fff; font-size:12px;}
.loginbox a:hover .icon-login{ background-position: -210px -30px;}
.loginbox a:hover{ text-decoration:none;}
.loginbox p{ margin-bottom:12px;}
.loginbox span.remember{ float:left; font-size:9px;}
.loginbox a.forgot{ float:right; font-size:9px; color:#fff;}

.arriva{ padding-top:50px; padding-bottom:10px; text-align:right;}

.leftsidebar{ max-width:200px; float:left; width:25%; padding-right:20px;}
.leftsidebar ul{ margin:0px; padding:0px; list-style:none;}
.leftsidebar ul li{ text-transform:uppercase; margin-bottom:10px; width:100%; float:left; line-height:30px;}
.leftsidebar ul li [class*="icon"]{ margin-right:5px;}
.leftsidebar ul li.logout{ margin-top:150px;}
.leftsidebar ul li:hover a, .leftsidebar ul li.active a{color:#c2d52b;}
.leftsidebar ul li:hover a .icon-home, .leftsidebar ul li.active a .icon-home{ background-position: 0px -30px;}
.leftsidebar ul li:hover a .icon-values, .leftsidebar ul li.active a .icon-values{ background-position: -30px -30px;}
.leftsidebar ul li:hover a .icon-activities, .leftsidebar ul li.active a .icon-activities{ background-position: -60px -30px;}
.leftsidebar ul li:hover a .icon-events, .leftsidebar ul li.active a .icon-events{ background-position: -90px -30px;}
.leftsidebar ul li:hover a .icon-notes, .leftsidebar ul li.active a .icon-notes{ background-position: -120px -30px;}
.leftsidebar ul li:hover a .icon-network, .leftsidebar ul li.active a .icon-network{ background-position: -150px -30px;}
.leftsidebar ul li:hover a .icon-logout, .leftsidebar ul li.active a .icon-logout{ background-position: -180px -30px;}

.leftsidebar ul ul{margin:0px; padding:0px 0px 0px 40px; list-style:none; display:block;}
.leftsidebar ul li li{ font-size:8px; margin-bottom:2px; color:#c2d52b; width:100%; float:left; line-height:12px;}
.leftsidebar ul li li span.label{ width:95%; float:left;}
.leftsidebar ul li li span.checkbox{ width:5%; float:right;}


.rightsidebar{max-width:200px; float:left; text-transform:uppercase; text-align:right; width:25%;}
.profilebox{  margin-bottom:70px;}
.profilebox .profilepic{ margin-bottom:20px;}
.profilebox .profilepic img{border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; width:100px; height:100px;}
.profilebox p{ margin:0px; padding:0px;}
.profilebox p.name{ color:#c8d92b; font-size:14px;}

.yourlevel{}
.yourlevel h5{ font-size:16px; margin:0px 0px 5px 0px; padding:0px;}
.yourlevel ul{ margin:0px; padding:0px; list-style:none;}
.yourlevel ul li{ margin-bottom:3px; font-size:10px;}

.contentarea{ maax-width:400px; width:50%; float:left; padding-right:20px; }

.welcomerow{ font-size:11px; color:#cacfd1; margin-bottom:20px;}
.welcomerow h3{color:#c8d92b; font-size:16px; margin:0px 0px 5px 0px; padding:0px; text-transform:uppercase;}

.welcomeboxrow{ width:100%; float:left; margin-bottom:20px;}
.welcomeboxrowleft{ width:50%; display:inline-block; float:left;}
.welcomeboxrowright{ width:50%;  display:inline-block; float:left;}

.boxbg{border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:rgba(255,255,255,0.3);}

.smallbox{ width:45%; float:left; padding:10px; text-transform:uppercase; margin:0px 5% 10px 0px;}
.smallbox p{ margin-bottom:7px;}
.smallbox p:last-child{margin-bottom:0px;}
.smallbox p.number{ font-size:24px; color:#c7da2c; line-height:24px;}
.smallbox p.number span{ color:#fff;}
.smallbox p.view a{ color:#000;}

.mediumbox{ width:100%; float:left; padding:10px; font-size:9px;}
.mediumbox h4{color:#c8d92b; font-size:15px; margin:0px 0px 5px 0px; padding:0px; text-transform:uppercase;}
.welcomeboxrow .leadership{ float:left; width:200px; text-transform:uppercase;}
.welcomeboxrow .leadership h2{color:#94a339; font-size:22px; margin:0px 0px 5px 0px; padding:0px; text-transform:uppercase;}
.welcomeboxrow .leadership .checker{margin-right:5px;}
.welcomeboxrow .leadership span.leaderblock{ display:inline-block; margin-right:10px;}

.progressbarsection{ margin-top:20px;}
.progressbarblock{ width:50%; float:left; padding-right:3%;}
.progressbarblockrow{ margin-bottom:10px;}
.progressbarlabel{ width:90px; float:left; text-transform:uppercase; line-height:12px; font-size:10px;}
.progressbarchat{ margin-left:100px;}

.progress {overflow: hidden; height: 20px; margin-bottom: 20px; background-color: #bcbcbd; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.progress-bar {float: left; width: 0; height: 100%; font-size: 12px; line-height: 20px; color: #fff; text-align: center; background-color: #428bca; -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); -webkit-transition: width .6s ease; transition: width .6s ease;}
.progress-bar-success {background-color: #c7da2c}
.progress-bar-warning {background-color: #87a4ae}
.progress-bar-danger {background-color: #d9534f}
.sr-only {position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0;	overflow: hidden; clip: rect(0,0,0,0); border: 0;}


[class^="bigicon"]{ display: inline-block; width: 70px; height: 70px; background: url(../images/icon-sprites.png); background-repeat: no-repeat; vertical-align:middle; transition: all 0.7s ease 0s;}
.bigicon-sustainable{ background-position:0px -140px;}
.bigicon-delivering{ background-position:-70px -140px;}
.bigicon-brain{ background-position:-140px -140px;}
.bigicon-putting{ background-position:-210px -140px;}
.activities ul li:hover .bigicon-sustainable{ background-position:0px -210px;}
.activities ul li:hover .bigicon-delivering{ background-position:-70px -210px;}
.activities ul li:hover .bigicon-brain{ background-position:-140px -210px;}
.activities ul li:hover .bigicon-putting{ background-position:-210px -210px;}

.activities{ margin-bottom:20px; display:block;}
.activities ul{ margin:0px; padding:0px; list-style:none; display:block;}
.activities ul li{ padding:10px; margin-bottom:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:rgba(255,255,255,0.3); width:100%; float:left;}
.activities ul li:hover{ background:rgba(199,218,44,0.3);}


.activities ul li i{ float:left; display:inline-block;}
.activities ul li div.activitiesinfo{ margin-left:90px; text-transform:uppercase;}
.activities ul li div.activitiesinfo h5{ font-size:16px; color:#c7da2c; margin-bottom:7px;}
.activities ul li div.activitiesinfo h5 a{color:#c7da2c;}
.activities ul li div.activitiesinfo p{ margin-bottom:7px;}
.activities ul li div.activitiesinfo p.black{ font-weight:600; color:#000;}

.pagingrow{ display:block; text-transform:uppercase; font-size:12px; margin-top:20px; line-height:30px;}
.pagingrow a:hover .icon-previus{background-position:-540px -30px; }
.pagingrow a:hover .icon-next{background-position:-570px -30px; }
.pagingrow a:hover .icon-backtoactivities{background-position:-330px -30px;}
.pagingrow a:hover .icon-info{ background-position:-600px -30px;}
.pagingrow a:hover .icon-notes{background-position:-120px -30px;}

.sustainablesection{ margin-bottom:20px; display:block;}
.sustainablesection h4{border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; background:rgba(255,255,255,0.3); padding:2px; font-size:16px; color:#c7da2c; text-transform:uppercase; margin-bottom:15px; line-height:30px;}
.sustainablesection h4.writereview{ color:#fff;}
.sustainablesection h4.writereview:hover .icon-write{ background-position:-300px -30px;;}
.sustainablesection h4.writereview:hover a{color:#c2d52b;}
.sustainablesection ul{ margin:0px; padding:0px; list-style:none;}
.sustainablesection ul li{ padding:10px; margin-bottom:10px; display:inline-block;}
.sustainablesection ul li div.leftblock{ width:70%; float:left;}
.sustainablesection ul li div.leftblock p{ margin-bottom:5px;}
.sustainablesection ul li div.leftblock p.purchase{ font-size:12px; text-transform:uppercase; line-height:30px;}
.sustainablesection ul li div.leftblock [class^="icon"]{ margin-right:5px;}
.sustainablesection ul li div.leftblock p.reading{ font-size:12px; text-transform:uppercase;}
.sustainablesection ul li div.leftblock p.reading span{color:#c7da2c;}
.sustainablesection ul li div.rightblock{ width:30%; float:left;}
.sustainablesection ul ul.answer{margin:10px 0px 0px 0px; padding:0px; list-style:none;}
.sustainablesection ul ul.answer li{ padding:0px; margin-bottom:2px; display:block;}
.sustainablesection ul ul.answer li label{ float:left; width:40%;}
.sustainablesection ul ul.answer li input[type="checkbox"]{ margin-left:40%;}

.eventssection{ position:relative;}
.nano { width: 100%; height: 400px; }
.nano .nano-content { padding:0px; }
.nano .nano-pane   { background: #cad2d3; }
.nano .nano-slider { background: #c7da2c; }
.events{ width:80%; float:left;}
.events ul{ margin:0px; padding:0px; list-style:none;}
.events ul li{ padding:0px; margin-bottom:10px; background:rgba(255,255,255,0.3); display:inline-block; position:relative;}
.events ul li div.completed{ position:absolute; width:100%; background:rgba(199,218,44,0.7); height:100%; font-size:16px; color:#000000; text-transform:uppercase; text-align:center; vertical-align:middle; padding-top:25%;}
.events ul li div.left{ float:left; width:60%; padding:10px;}
.events ul li div.right{ float:right; width:40%;}
.events ul li div.left h5{ font-size:11px; margin-bottom:7px;}
.events ul li div.left h5 span.date{ color:#b0c64c;}
.events ul li div.left h5 span.time{}
.events ul li div.left h5 span.eventname{ display:block;}
.events ul li div.left p{ margin-bottom:7px; font-size:9px;}
.events ul li div.left p.links{ font-size:12px; text-transform:uppercase; line-height:30px;}
.events ul li a:hover .icon-notes{ background-position:-120px -30px;}
.events ul li a:hover .icon-share{ background-position:-360px -30px;}

.eventsleft ul li div.right img{ width:100%; height:100%;}

.monthright{ width:20%; text-transform:uppercase; font-size:12px; position:absolute; top:0px; right:5px; height:400px;}
.monthright a{ margin-bottom:60px; display:block; text-align:right; margin-right:5px;}
.monthright .first{ position:absolute; top:0px; right:0px;}
.monthright .last{ position:absolute; bottom:0px; right:0px; margin-bottom:0px;}

.monthalpha{ width:20%; text-transform:uppercase; font-size:8px; position:absolute; top:0px; right:5px; height:400px;}
.monthalpha a{ margin-bottom:4.5px; display:block; text-align:right; margin-right:10px;}


.notes{ width:80%; float:left;}
.notes ul{ margin:0px; padding:0px; list-style:none;}
.notes ul li{ padding:5px; margin-bottom:10px; position:relative;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:rgba(255,255,255,0.3); width:100%; display:inline-block;}
.notes ul li div.notesicon{ width:30px; margin-left:10px; position:absolute; right:5px; bottom:0px;}
.notes ul li div.notesicon a{ display:inline-block; margin-bottom:5px;}
.notes ul li a:hover .icon-share{ background-position:-360px -30px;}
.notes ul li a:hover .icon-delete{ background-position:-480px -30px;}

.notes ul li div.notedetails{ margin-right:40px;}
.notes ul li div.notedetails h5{ font-size:11px; margin-bottom:7px;}
.notes ul li div.notedetails h5 span.date{ color:#b0c64c;}
.notes ul li div.notedetails h5 span.time{}
.notes ul li div.notedetails h5 span.eventname{ display:block;}
.notes ul li div.notedetails p{ margin-bottom:7px; font-size:9px;}

.writenotes{ display:block;}
.writenotesinfo{ padding:5px;}
.commentarea{display:block; margin-bottom:20px;}
.commentarea .textarea{ margin:0px; padding:0px; border:0px; height:350px; background:none; width:100%; color:#fff; font-family: 'Open Sans', sans-serif; font-size:12px;}
.writeiconright{ text-align:right; display:block;}
.writeicon [class^="icon"]{ margin-right:5px;}
.writeicon a{ position:relative;}
.writeicon a span{ position:absolute; right:0px; top:-7px; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; background:#919d1f; width:15px; height:15px; line-height:13px; text-align:center; color:#fff;}
.writeicon a:hover span{ color:#fff;}
.writeicon a:hover .icon-share{ background-position:-360px -30px;}
.writeicon a:hover .icon-save{ background-position:-420px -30px;}
.writeicon a:hover .icon-attach{ background-position:-450px -30px;}
.writeicon a:hover .icon-delete{ background-position:-480px -30px;}
.writeicon a:hover .icon-info{ background-position:-600px -30px;}
.writeicon a:hover .icon-behaviour{ background-position:-630px -30px;}
.writeicon a:hover .icon-somebody{ background-position:-660px -30px;}
.writeicon a:hover .icon-notesave{ background-position:-690px -30px;}
.writeicon a:hover .icon-cancel{ background-position:-720px -30px;}
.writeiconright a:hover .icon-done{ background-position:-750px -30px;}

.mynetwork{ position:relative;}
.mynetworklist{width:80%; float:left;}
.mynetworklist ul{ margin:0px; padding:0px; list-style:none;}
.mynetworklist ul li{ padding:10px; margin-bottom:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:rgba(255,255,255,0.3); display:block; position:relative; padding-right:40px;}
.mynetworklist ul li:hover{ background:rgba(199,218,44,0.3);}

.mynetworklist ul li div.profilepic{width:55px; height:55px; display:inline-block; margin-right:10px;}
.mynetworklist ul li div.profilepic img{border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}
.mynetworklist ul li div.mynetworkdetails{ display:inline-block; text-transform:uppercase;}
.mynetworklist ul li div.mynetworkdetails h5{ color:#b1c84c; font-size:12px; margin-bottom:10px;}
.mynetworklist ul li div.mynetworkdetails p{ margin:0px; font-size:10px;}
.mynetworklist ul li a.noteslinks{ position:absolute; bottom:10px; right:0px;}

.values{ position:relative; display:block;}
.values img.colorbg{position:absolute; left:0px; top:0px; z-index:-1; display:none;}
#circulcolor1, #circulcolor2, #circulcolor3, #circulcolor4, #circulcolor5{ cursor:pointer;}
.circulcolordefult{ background:rgba(255,255,255,0.8); color:#1d747f;}
.circulcolor1{ background:#008090; color:#fff;}
.circulcolor2{ background:#f37830;}
.circulcolor3{ background:#00446a;}
.circulcolor4{ background:#c6d92c;}
.circulcolor5{ background:#9561a8;}
.values .row{ clear:both; margin-bottom:10px;}
.circulbox{position:relative; width:75px; height:75px; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; display:inline-block; margin-right:74px; text-align:center;}
.circulbox span{display: table-cell; vertical-align: middle; height:75px; text-transform:uppercase; font-size:9px; padding:0px 5px;}
.circulbox a{ color:#1d747f;}
.circulcolor1 a, .circulcolor2 a, .circulcolor3 a, .circulcolor4 a, .circulcolor5 a{ color:#fff;}
.circulbox:last-child{ margin-right:0px;}
.circulbox .circulplus{ display:none; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; width:160px; background:#fff; vertical-align: middle; position:absolute; padding:10px; left:-52px; bottom:-14px; color:#1d747f; font-size:8px; text-transform:uppercase;}
.circulbox .circulplus .valigncenter{display: table-cell; vertical-align: middle; height:160px;}
.circulbox:hover .circulplus{ display:block;}

.notelist ul{margin:15px 0px 0px 0px; padding:0px; list-style:none;}
.notelist ul li{ padding:0px; margin-bottom:5px; display:block;}
.notelist ul li label{ float:left; width:90%;}