.row
  .col-md-12
    %button.dark-blue-btn Overall Cohort Scores
    .spacer30
.row
  .col-md-4.col-xs-12
    = render partial: "shared/panel", locals: { collections: @participants, title: t('admin.panel.titles.participant'), title_method: 'full_name', subtitle_method: 'job_title', new_path: '#', edit_path: 'edit_participant_registration_path' }

  .col-md-4.col-xs-12
    = render partial: "shared/panel", locals: { collections: @activities, title: t('admin.panel.titles.activities'), title_method: 'title', subtitle_method: 'activity_type', new_path: new_activity_path, edit_path: 'edit_activity_path' }
  .col-md-4.col-xs-12
    = render partial: "shared/panel", locals: { collections: @events, title: t('admin.panel.titles.events'), title_method: 'title', subtitle_method: 'event_date', new_path: '#', edit_path: 'edit_activity_path' }
