.row
  .col-xs-12.col-md-12
    %h2.dark-blue.pull-left.page-header
      %b= @participant.full_name
.row
  .col-xs-3.col-md-9
    %h3.dark-blue
      %b Activities Overview
.table-responsive
  %table.table
    %thead
      %tr
        %th.dark-blue{width: '20%', style: "border-bottom: 0px;"} Behaviour
        %th.text-center.dark-blue{width: '20%', style: "border-bottom: 0px;"} Completed
        %th.text-center.dark-blue{width: '20%', style: "border-bottom: 0px;"} Score
        %th.text-center.dark-blue{width: '20%', style: "border-bottom: 0px;"} Level
        %th.text-center.dark-blue{width: '20%', style: "border-bottom: 0px;"} Last Active
      - @behaviours.each_with_index do |behaviour, index|
        %tr.light-blue
          %td{ :style => "border-top: 0px;" }
            =behaviour.title
          %td{ :style => "border-top: 0px;" }
            .text-center
              =behaviour.activities.completed.count
          %td{ :style => "border-top: 0px;" }
            .text-center
              =Score.behaviour_scores.find_by_scorable_id_and_participant_id(behaviour.id, @participant.id).score
          %td{ :style => "border-top: 0px;" }
            .text-center
              =@participant.behaviour_score_level(behaviour.id)
          %td{ :style => "border-top: 0px;" }
            .text-center
              =@participant.last_sign_in_at.strftime("#{@participant.last_sign_in_at.day.ordinalize} %b %Y") rescue nil if index == 0
              - if index == 0
                .row
                  =link_to t('admin.participant.caption.button.done'), admin_dashboard_path, class: "btn btn_sign_in pull_left", style: "position: absolute; bottom: 10%; right: 7%; width: 210px;"