.leftsidebar
  %ul
    %li
      = link_to participant_dashboard_path do
        %i.icon-home
        Home
    %li
      %a{:href => "#"}
        %i.icon-values
        Values / behaviours
    %li.active
      %a{:href => "activities.html"}
        %i.icon-activities
        Activities
      %ul
        %li
          %span.label customer orientation
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label target & results focus
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label strategic focus
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label managing & developing people
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label striving for innovation
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label change management
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label cross-unit co-operation
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label corporate responsibility
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label role model function
          %span.checkbox
            %input{:type => "checkbox"}
        %li
          %span.label dealing with complexity
          %span.checkbox
            %input{:type => "checkbox"}
    %li
      %a{href: participant_events_path}
        %i.icon-events
        Events
    %li
      %a{ href: participant_notes_path }
        %i.icon-notes
        NOTES
    %li
      %a{:href => "#"}
        %i.icon-network
        My network
    %li.logout
      %a{:href => "index.html"}
        %i.icon-logout
        LOGOUT