- unless behaviours.blank?
  - selected_behaviours_ids ||= []
  - behaviours.each do |behaviour|
    .light-blue
      = behaviour.title
      = check_box_tag "#{check_box_name}[][behaviour_id]", behaviour.id, selected_behaviours_ids.include?(behaviour.id), class: 'pull-right', disabled: defined?(disable) && disable
    .spacer10
