= wicked_pdf_stylesheet_link_tag "participants/pdf_style"
= wicked_pdf_image_tag 'pdf_logo_1.png', style: 'float: left; margin-top: 1% !important;'
= wicked_pdf_image_tag 'pdf_logo_2.png', style: 'float: right; margin-top: 1% !important;'