.plansummery-list
  %ul
    - current_participant.scores.behaviour_scores.each do |score|
      %li
        .progress-bar.progress-you{:style => "width:#{score.percentile_score}%;"}
        .progress-bar.progress-performer{:style => "width:#{score.percentile_difference_with_top_score}%;"}