.welcomeboxrow
  .welcomeboxrowleft
    .leadership
      %span.leaderblock
        %input{:type => "checkbox"}
          YOU
      %span.leaderblock
        %div.green-block
        .margin-left-2
          top performer