%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  #attachments
    = render partial: 'participant/participant_attachments/attachments'
= render partial: 'participants/components/right_side_bar'