.row
  - Activity::ACTIVITY_TYPE.each do |activity_type|
    .col-md-6.light-blue
      = activity_type[0]
      = radio_button_tag 'activity[activity_type]', activity_type[1], activity_type[1].to_i == @activity.activity_type, class: 'pull-right'
