%ul
  %li
    .mynetworkdetails
      %h5.text-center= t('participant.networks.msg.no_networks_found')
.pagingrow
  = link_to('javascript:void(0);', class: 'view_all_participants', title: t('participant.networks.caption.view_all_participants')) do
    %i.icon-info
    = t('participant.networks.caption.view_all_participants')

:javascript
  $(document).ready(function() {
    $(".view_all_participants").on("click", function () {
      $.ajax({
        url: "/participants/all_participants?view_all=true",
        dataType: "script"
      });
    });
  });
