%ul
  %li
    .mynetworkdetails
      %p= t('participant.networks.caption.no_participant_msg_text')
      / .pagingrow
      /   = link_to('javascript:void(0);', id: 'view_all_participants', title: t('participant.networks.caption.view_all_participants')) do
      /     %i.icon-info
      /     = t('participant.networks.caption.view_all_participants')