- content_for(:title, 'Drive My Network')
.main-panel
  .network-panel
    .networkfull
      .yournetwork.clearfix
        = render partial: 'participant/networks/current_participant_networks'
      .allparticipants.clearfix
        = render partial: 'participant/networks/networks'
      .alphabetrow
        .alphabetrow-sub
          %ul.owl-carousel.row
            %li.item
              = link_to "All", {action: :seach_by_alpha_character, alpha_character: ''}, remote: true
            - ('A' .. 'Z').to_a.each do |e|
              %li.item
                = link_to e, {action: :seach_by_alpha_character, alpha_character: e}, remote: true

.overlay{"data-sidebar-overlay" => ""}