%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  .contentarea
    .mynetwork
      #about.nano
        .nano-content
          .mynetworklist
            %ul
              %li
                .profilepic
                  %img{alt: "", src: "images/img-network1.png", title: ""}/
                .mynetworkdetails
                  %h5 ANNCHI CHOW
                  %p LEVEL 2
                  %p job title
                  %p division
                %a.noteslinks{href: "#"}
                  %i.icon-notes
              %li
                .profilepic
                  %img{alt: "", src: "images/img-network2.png", title: ""}/
                .mynetworkdetails
                  %h5 ANNCHI CHOW
                  %p LEVEL 2
                  %p job title
                  %p division
                %a.noteslinks{href: "#"}
                  %i.icon-notes
              %li
                .profilepic
                  %img{alt: "", src: "images/img-network3.png", title: ""}/
                .mynetworkdetails
                  %h5 ANNCHI CHOW
                  %p LEVEL 2
                  %p job title
                  %p division
                %a.noteslinks{href: "#"}
                  %i.icon-notes
              %li
                .profilepic
                  %img{alt: "", src: "images/img-network4.png", title: ""}/
                .mynetworkdetails
                  %h5 ANNCHI CHOW
                  %p LEVEL 2
                  %p job title
                  %p division
                %a.noteslinks{href: "#"}
                  %i.icon-notes
          .monthalpha
            %a{href: "#"} a
            %a{href: "#"} b
            %a{href: "#"} c
            %a{href: "#"} d
            %a{href: "#"} e
            %a{href: "#"} f
            %a{href: "#"} g
            %a{href: "#"} h
            %a{href: "#"} i
            %a{href: "#"} j
            %a{href: "#"} k
            %a{href: "#"} l
            %a{href: "#"} m
            %a{href: "#"} n
            %a{href: "#"} o
            %a{href: "#"} p
            %a{href: "#"} q
            %a{href: "#"} r
            %a{href: "#"} s
            %a{href: "#"} t
            %a{href: "#"} u
            %a{href: "#"} v
            %a{href: "#"} w
            %a{href: "#"} x
            %a{href: "#"} y
            %a{href: "#"} z
            %br/
      .pagingrow
        %a{href: "#"}
          %i.icon-info
          ADD to network
  = render partial: 'participants/components/right_side_bar'