- mail_to = mail_to Settings.mail.default_url_options.contact_email, nil,traget: '_blank'
!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Hello #{@resource.email}
    %p
      You have recently requested a link to change your password. You can do this through the link below:
    %p
      = link_to 'Change my password', edit_password_url(@resource, reset_password_token:@resource.reset_password_token)
      %br/
    %p
      If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
    %p
      For any questions or help please contact us at #{mail_to} for assistance.

    %br/
    %p
      Kind regards
    %p
      The DRIVE Programme Team
