- multiple_choice_answer = activity.correct_answer.try(:answer_text)
- if current_participant.answer_of_activity(activity)
  %h5 Your Answer:
  %p= current_participant.answer_of_activity(activity).answer_text
%h5 Current Answer:
%p= multiple_choice_answer