%h3.accord-toggle Take the Quiz and Score Points
.behaviou-detail.accord-div{:style => "display: none;"}
  - if activity.multiple_choice_question.present?
    %h5 Question:
    %p= activity.multiple_choice_question.question_text
    - if current_participant.has_answered_this_activity?(activity)
      = render partial: 'participant/activities/answer', locals: {activity: activity}
    - else
      = render partial: 'participant/activities/answers_listing', locals: {activity: activity}