$('.activity_completed_message').html("#{escape_javascript(@popup_msg.html_safe)}");
$('#modal').addClass('md-show');
$("#modal").find("button").click(function(){
$('#modal').removeClass('md-show');
});
$('.tagsameone-title').html("#{escape_javascript(render partial: 'take_quiz_review', locals: {activity: @activity}) }");

$(".accord-toggle").click(function(){
$(".accord-div").slideUp();
if($(this).next('.accord-div').is(':visible')){
$(this).next('.accord-div').slideUp();
$(this).removeClass("active");
}
else{
$(this).next('.accord-div').slideDown();
$(this).addClass("active");
}
})
