$('.tagsameone-title').html("#{escape_javascript(render partial: 'take_quiz_review', locals: {activity: @activity}) }");
$('.writereview').html("#{escape_javascript(render partial: 'write_review', locals: {activity: @activity}) }");