- if @activities.present?
  $('.activityrow').html("#{escape_javascript(render partial: 'activities')}");
- else
  $('.activityrow').html("#{escape_javascript(render partial: 'no_activities_found')}");

$(".scrollbar-div-123").mCustomScrollbar({
axis:"x",
theme:"dark-thin",
autoExpandScrollbar:true,
advanced:{autoExpandHorizontalScroll:true},
scrollInertia:400
});