.container {
  font-family: arial;
}

.CB {
  clear: both;
}
.boldText {
  font-weight: bold;
}
.normalText {
  font-weight: normal;
}
.notes-archive {
  border-bottom: 5px solid #128999;
  padding-bottom: 20px;
}
.mainTitle {
  font-size: 40px;
  font-weight: bold;
}
p {
  font-size: 20px;
}
h3 {
  font-size: 25px;
}
.left-space {
  padding-left: 10px;
}
.right-space {
  padding-right: 40px;
}
.vertical-alignment {
  margin-top: -25px;
}
.green-block {
  background-color: #87A4AE !important;
  height: 8px !important;
  width: 8px !important;
  display: block;
  float:left;
  position: absolute;
  margin-top: 5px;
}

.margin-left-2 {
  margin-left: 20px !important;
}

.progressbarlabel {
  font-size: 14px !important;
  width: 230px !important;
  line-height: 16px !important;
}

.activitysummary{width:100%; float:left;}
.activityprogress-list{float:left; }
.activityprogress-list ul{padding:0; margin:0; text-align:right;}
.activityprogress-list ul li{color:#68696a; line-height:20px; font-size:14px; padding:0 0 2px; margin:0; font-weight:400;}
.activityprogress-list ul li span{color:#cddc39; width:23px; display:inline-block;}
.plansummary{float:left; padding:0 0 0 20px; width:60.45%; position:relative;}
.summery-hit {right:0; top:0; padding:0;}
.summery-hit li{color:#68696a; line-height:20px; font-size:14px; padding:0 0 0 12px; text-transform:uppercase; margin:0; font-weight:400; display:inline-block;}
.summery-hit li span{width:12px; height:9px; display:inline-block;}
.summery-hit li .youf{background:#cddc39;}
.summery-hit li .performer{background:#87a3ae;}
.plansummery-list ul{padding:0 0 0 2px; margin-top: 0px; width: 100%; list-style-type: none;}
.plansummery-list li{height:10px; background:#d3d3d3; margin:5px 0 12px; padding:0;}
.plansummery-list li .progress-bar{color: #fff;float: left; font-size: 12px; height: 100%; line-height: 20px; text-align: center; transition: width 0.6s ease 0s; -webkit-transition: width 0.6s ease 0s; -ms-transition: width 0.6s ease 0s; width: 0; position:relative;}
.plansummery-list li .progress-you{background:#cddc39;}
.plansummery-list li .progress-you:before{content:""; display:block; border-top:5px solid #cddc39; border-right:5px solid transparent; position:absolute; left:-2px; top:50%; margin-top:-2.5px; transform:rotate(-43deg); -webkit-transform:rotate(-43deg); -ms-transform:rotate(-43deg);}
.plansummery-list li .progress-performer{background:#87a3ae;}
