@media (min-width:768px) and (max-width:991px){
	body{min-height:100%; height:100%;}
	.main{min-height:100%; position:relative;}
	.main-panel{padding-left:0;}
	.inner-header .header-top{padding-left:0;}
	.menu-toggle{display:block;}
	.btn{font-size:13px;}
	.summery-hit li{font-size:8px;}
	.activityprogress-list ul li{font-size:11px;}
	.summery-hit li span{height:7px; width:9px;}
	.circle-info-half{padding:0 30px; font-size:10px; line-height:12px !important;}
	.circle-text{font-size:24px !important; top:39%;}
	.recentnote-box p, .nextevent-text p span, .nextevent-text p{font-size:12px;}
	.yournetwork-box{padding:11px 0 12px;}
	.behaviours-value{width:23.53%; padding:20px 10px 20px 20px;}
	.behaviours-value .behaviourstablist a{font-size:14px;}
	.behaviours-detail{width:76.47%;}
	.puttingpeople-box{width:50%;}
	.putting-people .puttingpeoplebox{min-height:180px;}
	.behaviours-value .ui-tabs-nav .ui-tabs-active a:after{right:-20px;}
	.behaviours-value .ui-tabs-nav .ui-tabs-active a:before{right:-21px;}
	.notepanel-left{width:33.32%;}
	.sharedtablist-box .shared-text{width:79.6%;}
	.notepanel-right{width:66.68%;}
	.profile-panel{padding:30px 15px;}
	.profileedit-img{width:26.59%;}
	.profileedit-img .profileeditimg{width:195px; height:195px;}
	.profile-block .notification-text{font-size:14px;}
	.myfiles-box{width:100%;}
	.filepaneltab-value{display:none;}
	.filepaneltab-box{display:block !important;}
	.eventtabs-value{width:19.9%;}
	.eventtabs-detail{width:79.9%;}
	.event-panel{position:inherit;}
	.eventtabs-value{padding-top:70px;}
	.activities-value{width:22.92%;}
	
	.activitiesvalue .activityprogress{width:100%;}
	.activitiesvalue .circle-text{top:35%;}
	.activitiesvalue .circle-info-half{font-size:12px; line-height:14px !important;}
	
	.sharechat-main{min-height:815px; max-height:815px;}

	
}
@media (min-width:992px) and (max-width:1024px){
	body{min-height:100%; height:100%;}
	.main{min-height:100%; position:relative;}
	.main-panel{padding-left:0;}
	.inner-header .header-top{padding-left:0;}
	.menu-toggle{display:block;}
	.behaviours-value{width:19.53%;}
	.behaviours-detail{width:80.47%;}
	.notepanel-left{width:28.32%;}
	.notepanel-right{width:71.68%;}
	.filepaneltab-value{display:none;}
	.filepaneltab-box{display:block !important;}
	.eventtabs-value{width:12.2%;}
	.eventtabs-detail{width:87.8%;}
	.event-panel{position:inherit;}
	.eventtabs-value{padding-top:70px;}
	.activitiesvalue .activityprogress{width:100%;}
	.activitiesvalue .circle-text{top:38%;}
	.activities-value{width:23.92%;}
	
	.sharechat-main{min-height:565px; max-height:565px;}
	
}
@media (min-width:1025px) and (max-width:1500px){
	.activitiesvalue .circle-info-half{font-size:9px; line-height:12px !important; padding:0px 10px;}
	.sharedtablist-box .shared-text{ width:75.6%;}
}
@media (min-width:1025px){
	.filepaneltab-value{display:none;}
	.filepaneltab-box{display:block !important;}
}
@media (max-width:767px){
	.homepage{background-color:#018c9a; background-attachment:fixed; background-position:center bottom;}
	.main-panel{padding-left:0;}
	.inner-header .header-top{padding-left:0;}
	.menu-toggle{display:block;}
	.home-page.main-panel{position:relative;}
	
	.inner-header .logo h1{display:none;}
	.menu-toggle{padding-right:14px;}
	.lines::before, .lines::after{width:20px; height:2px;}
	.lines{width:20px; height:2px; top:-5px;}
	.lines::before{top:6px;}
	.lines::after{top:-6px;}
	#navigation-toggle{padding-top:0;}
	.inner-header .header-right{width:70px;}
	.inner-header .logo span{line-height:20px;}
	.deshboardsummery-panel{box-shadow:0 0 4px rgba(0, 0, 0, 0.15); border-radius:3px; margin-bottom:10px;}
	.plansummary{width:38.83%; padding-left:10px;}
	.plansummery-list li{height:8px; margin:0 0 14px;}
	.plansummary h3{display:none;}
	.summery-hit{display:none;}
	.activitysummary{width:61.17%;}
	.activityprogress-list ul li span{width:10px;}
	.activityprogress{padding:0;}
	.deshboardsummery-panel h3{padding-bottom:14px;}
	.vieactivity{padding-top:3px;}
	.plansummery-list{padding-top:40px;}
	.deshboardyour-panel .row{margin:0;}
	.deshboardyour-left{width:100%; padding:0; }
	.recentnote, .nextevent{box-shadow:0 0 4px rgba(0, 0, 0, 0.15); border-radius:3px; margin-bottom:10px;}
	.deshboardyour-right{width:100%; padding:0; }
	.profile-panel{max-width:450px;}
	.profileedit-img{width:40%;}
	.profileedit-img .profileeditimg{width:180px; height:180px;}
	.profile-textform{width:59.53%; padding:0 0 0 30px;}
	.profile-block{width:62%; padding-top:50px;}
	.backbtn-panel{padding-top:0;}
	.myfiles-box{width:100%; padding:0 0 14px;}
	.myfiles-panel{margin:0;}
	.sharedfiles-panel{margin:0;}
	.filepanel-right .addnote-text{display:none;}
	.filepanel-right{padding:0;}
	.filepaneltab-detail{padding:20px;}
	.addnote-view .addnote-icon{width:60px; height:60px;}
	.addnote-view{position:fixed; bottom:13px; top:auto; right:13px;}
	.myfilesbox-text{padding-right:145px;}
	.myfilesbox-btn li{padding:0 6px;}
	.notepopup-panel{max-width:450px;}
	.notepanel-left{width:100%; padding-bottom:0; padding-top:53px; z-index:1;}
	.note-block{padding-bottom:70px;}
	.notepanel-right{width:100%;}
	.notepanelleft{box-shadow:none;}
	.notetabs-value .ui-tabs-nav a{background:#008b9a; display:block; font-size:16px; color:#87c6c8; line-height:20px; text-transform:uppercase; font-weight:600; padding:15px 0; position:relative; border-left:none; border-right:none;}
	.notetabs-value .ui-tabs-nav .ui-tabs-active a{color:#fff; background:#008b9a;}
	.notetabs-value .ui-tabs-nav .ui-tabs-active a:after{border-bottom:4px solid #cddc39; content:""; display:block; height:auto; width:100%; padding:0; margin:0; position:absolute; bottom:0; left:0;}
	.left-mainmenu{overflow:auto;}
	
	.md-show.md-effect-5 .md-content{top:20px;  transform:translateY(0px) translateX(-50%) scale(1); -webkit-transform:translateY(0px) translateX(-50%) scale(1); -ms-transform:translateY(0px) translateX(-50%) scale(1);}
	.md-effect-5 .md-content{top:20px; left:50%; transform:translateY(0px) translateX(-50%) scale(0); -moz-transform:translateY(0px) translateX(-50%) scale(0); -webkit-transform:translateY(0px) translateX(-50%) scale(0); -ms-transform:translateY(0px) translateX(-50%) scale(0); }
	
	.eventpopup-title h3{padding:0 63px 0 0;}
	.eventtabs-value{width:28.33%;}
	.eventtabs-detail{width:71.67%;}
	.eventtabs-value .mouseWheelButtons{padding:15px;}
	.montheventbox{width:230px; padding-right:10px;}
	.monthevent-box h5{font-size:13px;}
	.monthevent-box h5 span{font-size:10px;}
	.eventtabs-detail{padding-left:15px; padding-right:5px;}
	.monthevent-people h4{padding-bottom:15px;}
	.monthevent-info{padding:10px;}
	.monthevent-box{padding:0; box-shadow:0 0 4px rgba(0, 0, 0, 0.2); border:none; border-radius:4px;}
	.monthevent-people h4{font-weight:600;}
	.eventtabs-box{overflow:inherit;}
	.monthevent-people{padding:12px 0;}
	.border-bottom.monthevent-people{border-bottom:none;}
	.monthevent-box .monthevent-img{height:85px; overflow:hidden; border-radius:4px 4px 0 0;}
	.behaviou-detail li{width:100%;}
	.md-effect-5 .md-content.notepopup-panel{width:95%; max-width:inherit;}
	
	.network-panel{background:#fafafa; padding:0;}
	.participantslist li{width:128px; padding:20px 0 10px;}
	.participantslist li p.unfollow{margin-top:14px;}
	.yournetwork{background:none; padding-left:15px; padding-right:15px;}
	.participantslist li .network-img{width:52px; height:52px;}
	.participantslist li p{line-height:14px;}
	.networkfull .allparticipants{padding-left:15px; padding-right:15px;}
	.alphabetrow-sub li{padding:5px 10px;}
	.networkfull .alphabetrow a{font-size:16px; font-weight:400; line-height:20px; padding:5px;}
	.participantsrow .mCSB_dragger{bottom:5px;}
	.notepopuphead{position:absolute; top:0; left:0; width:100%;}
	.sharechat-main{height:100%;}
	.sharechatmain{overflow:auto;}
	
	.sharemain-panel{position:fixed; top:0; left:0; background:#fff; z-index:99; padding-left:0; height:100%; width:100%; padding-bottom:75px; padding-top:66px;}
	.sharechat-input{padding-right:15px; padding-left:15px; position:fixed; bottom:12px; width:100%;}
	.sharechat-main{padding-right:15px; padding-left:15px; min-height:inherit; max-height:inherit;}
	.sharechat-title .sharechattitle-text{padding-left:60px;}
	.sharechat-text{padding-left:60px;}
	.notepopuphead{display:block;}
	.sharechat-title .sharechattitle-text p, .sharechat-title .sharechattitle-text h4{padding-right:105px;}
	.download-notehist{position:fixed;}
	.sharechat-input input{font-size:14px;}
	
	.activitifilter-icon{display:block; right:5px;}
	.activities-value{display:none;}
	.activitiesvalue .activityprogress{width:100%;}
	.activities-value.open{display:block; width:100%; background:rgba(0,0,0,0.5); min-height:100%; height:100%; padding-top:0;}
	.activitiesheight{position:relative;}
	.activitiesvalue{width:245px; padding:15px; position:relative;}
	.activitiesvalue .activiti-close{display:block;}
	.activitiesvalue ul li.active::before{right:-25px;}
	.activitiesvalue ul li.active::after{right:-23px;}
	.activities-detail{width:100%; padding:15px 14px 85px 14px}
	.activityrow{padding:0;}
	.activityrow .activityrow-box{ width:450px;}
	.activities-icon{ left:0px; bottom:0px;}
	.activities-icon.activitifilter-bottom{position:fixed; background:#fff; padding:12px 0 12px; box-shadow:0 0 3px rgba(0, 0, 0, 0.16);}
	.activities-icon.activitifilter-bottom i{width:35px; height:35px; }
	.activities-icon.activitifilter-bottom i.icon1, .activities-icon.activitifilter-bottom a:hover i.icon1, .activities-icon a.active i.icon1{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon2, .activities-icon.activitifilter-bottom a:hover i.icon2, .activities-icon a.active i.icon2{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon3, .activities-icon.activitifilter-bottom a:hover i.icon3, .activities-icon a.active i.icon3{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon4, .activities-icon.activitifilter-bottom a:hover i.icon4, .activities-icon a.active i.icon4{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon5, .activities-icon.activitifilter-bottom a:hover i.icon5, .activities-icon a.active i.icon5{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon6, .activities-icon.activitifilter-bottom a:hover i.icon6, .activities-icon a.active i.icon6{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom a span{font-size:11px; line-height:16px;}
	.activityrow .pointsrow a{border-radius:3px;}
	.md-effect-5 .md-content.activitipopup-panel{width:95%; }
	.activitiscrore .tagsameone-title h3{font-size:15px;}
	.submit-bottom p{font-size:10px;}
	.writereview-form .submit-bottom .add-submitbtn{width:90px;}
	.activitiesvalue .circle-info-half{font-size:13px; line-height:18px !important; padding:0 20px;}
	.activitiesvalue .circle-text{top:41%;}
	
	.behaviours-value{width:32.53%;}
	.behaviours-detail{width:67.47%;}
	.puttingpeople-box{width:100%;}
	.putting-people .puttingpeoplebox{min-height:inherit;}
	.behaviours-value .behaviourstablist a{font-size:13px;}
	.behaviours-panel{position:relative;}
	.behaviourstap-detail span img{max-width:100%;}
	.behaviourstap-panel .behaviourstap-detail{width:86%;}
	.md-effect-5 .md-content{height: calc(100% - 40px); overflow:auto; bottom:20px;}
}
@media (max-width:639px){
	.logo{width:100px;}
	.header-right{width:70px;}
	.welcome-text{padding-top:85px;}
	.welcome-text{max-width:290px;}
	.welcome-text h2{font-size:18px; line-height:24px;}
	.welcome-text p{font-size:13px; line-height:18px;}
	.login-form .input-field .input-text, .login-form .input-btn .login-btn{width:73.78%;}
	.login-form .input-field .input-text{font-size:15px;}
	.footer-panel p{font-size:13px;}
	
	.activitysummary{width:75.17%;}
	.activityprogress-list ul li{font-size:8px; line-height:13px; padding:0;}
	.plansummary{width:24.83%; padding-left:5px;}
	.plansummery-list{padding-top:37px;}
	.plansummery-list li{height:6px; margin:0 0 7px;}
	.vieactivity .btn{font-size:10px;}
	.circle-text{font-size:18px !important; top:37px;}
	.circle-info-half{font-size:10px; line-height:11px !important; padding:0 25px;}
	.recentnote-box p{font-size:12px;}
	.deshboard-panel{padding:10px;}
	.nextevent-text h4{font-size:14px;}
	.nextevent-text p, .nextevent-text p span{font-size:10px;}
	.viewnetwork{position:initial; padding-top:15px; text-align:right;}
	.deshboardyour-panel h3, .deshboardsummery-panel h3{font-size:14px;}
	
	
}
@media (min-width:480px) and (max-width:639px){
	body{position:relative;}
	.activityprogress-list ul li{font-size:12px; line-height:18px;}
	.plansummery-list{padding-top:40px; }
	.plansummery-list li{margin-bottom:12px;}
	.circle-text{top:43%;}
	.vieactivity .btn{font-size:13px;}
	.eventpopup-title h3{padding:0 63px 0 0;}
	.montheventbox{width:230px;}
	.monthevent-box h5{font-size:13px;}
	.monthevent-box h5 span{font-size:10px;}
	.eventtabs-detail{padding-left:15px; padding-right:5px;}
	.monthevent-people h4{padding-bottom:15px;}
	.monthevent-info{padding:10px;}
	.monthevent-box{padding:0;}
	.monthevent-people{padding:12px 0;}
	.md-show.md-effect-5 .md-content.notepopup-panel{left:50%;}
	
	.home-page.main-panel{position:relative;}
	.behaviourstap-panel .behaviourstap-detail{width:86%;}
	.behaviourstap-panel .tapbtn{float:right;}
}
@media (max-width:479px){
	body{position:relative;}
	.profile-panel{padding:30px 15px;}
	.home-page.main-panel{position:inherit;}
	.profileedit-img{width:40%; }
	.changepass-form{padding-top:25px;}
	.profileedit-img .profileeditimg{margin:0 auto; float:none; width:130px; height:130px;}
	.profile-textform{padding-left:15px; padding-top:0; width:60%;}
	.changepass-form .input-field input{font-size:13px;}
	.profile-block{width:100%;}
	.myfiles-block p span{display:block; padding-top:20px; padding-right:140px;}
	.myfilesbox-text{padding-right:0;}
	.myfilesbox-btn{top:auto; bottom:8px;}
	.myfilesbox-btn li{padding:0 6px;}
	.notepopup-panel{max-width:100%;}
	.md-close{font-size:15px; right:12px;}
	.eventpopup-title h3{padding:0 63px 0 0;}
	.eventtabs-detail{padding-left:15px; padding-right:15px;}
	.monthevent-people{padding:5px 0;}
	.circle-text{top:44px;}
	.montheventbox{width:205px;}
	.behaviou-detail li{width:100%;}
	.participantsrow{padding-bottom:15px;}
	.alphabetrow{background:#fff;}
	.alphabetrow .row{margin:0;}
	.dashboardpopup-panel h3{font-size:17px; line-height:20px;}
	
	.dashboardpopup-panel{border-radius:3px;}
	.behaviours-value{width:43.5%; padding:13px;}
	.behaviours-detail{width:56.5%; padding-left:13px; padding-right:13px;}
	.puttingpeople-box{width:100%; padding:0 0 12px;}
	.putting-people .puttingpeoplebox{min-height:inherit;}
	.behaviours-value .behaviourstablist a{font-size:11px; line-height:16px; padding-left:20px;}
	.behaviours-value .ui-tabs-nav .ui-tabs-active a::after{right:-23px;}
	.behaviours-value .ui-tabs-nav .ui-tabs-active a::before{right:-24px;}
	.inner-header .logo .spanyour{display:none;}
	.inner-header .logo span{font-size:15px;}
	.putting-people .puttingpeoplebox{padding:10px;}
	.puttingpeoplebox h4{font-size:13px; line-height:18px;}
	.left-mainmenu{overflow:auto;}
	
	
	.activitifilter-icon{display:block; right:5px;}
	.activities-value{display:none;}
	.activitiesvalue .activityprogress{width:100%;}
	.activities-value.open{display:block; width:100%; background:rgba(0,0,0,0.5); min-height:100%; height:100%; padding-top:0;}
	.activitiesvalue{width:245px; padding:15px; position:relative;}
	.activitiesvalue .activiti-close{display:block;}
	.activitiesvalue ul li.active::before{right:-25px;}
	.activitiesvalue ul li.active::after{right:-23px;}
	.activities-detail{width:100%; padding:15px 14px 85px 14px}
	.activityrow{padding:0;}
	.activityrow .row{ margin-left:0px; margin-right:0px;}
	.activityrow .activityrow-box{}
	.activities-icon.activitifilter-bottom{position:fixed; background:#fff; padding:12px 0 12px; box-shadow:0 0 3px rgba(0, 0, 0, 0.16);}
	.activities-icon.activitifilter-bottom i{width:35px; height:35px; }
	.activities-icon.activitifilter-bottom i.icon1, .activities-icon.activitifilter-bottom a:hover i.icon1{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon2, .activities-icon.activitifilter-bottom a:hover i.icon2{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon3, .activities-icon.activitifilter-bottom a:hover i.icon3{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon4, .activities-icon.activitifilter-bottom a:hover i.icon4{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon5, .activities-icon.activitifilter-bottom a:hover i.icon5{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom i.icon6, .activities-icon.activitifilter-bottom a:hover i.icon6{background-size:100% 100%;}
	.activities-icon.activitifilter-bottom a span{font-size:11px; line-height:16px;}
	.activities-icon a{margin:0 3px;}
	.activityrow .pointsrow a{border-radius:3px;}
	
	.activitiscrore .tagsameone-title h3{font-size:15px;}
	.submit-bottom p{font-size:10px;}
	.writereview-form .submit-bottom .add-submitbtn{width:90px;}
	
	.eventtabs-value{width:28.33%;}
	.eventtabs-detail{width:71.67%;}
	.eventtabs-value .next{font-size:11px;}
	.eventtabs-value .prev{margin-bottom:15px;}
	.eventtabs-value .next{margin-top:15px;}
	.monthevent-box h5{font-size:12px;}
	.monthevent-box h5 span{font-size:9px;}
	.monthevent-view.btn{width:45px; font-size:13px;}
	.filepaneltab-detail{padding:20px 15px;}
	
	.download-notehist .dNotehistory{font-size:12px;}
	.behaviourstap-panel .behaviourstap-detail{width:86%;}
	.behaviourstap-panel .tapbtn{width:75px; float:right;}
	.md-effect-5 .md-content{height:auto; overflow:inherit; bottom:auto;}
	.activitipopup-title .activitititle-text{width:64%;}
	.activitititle-text h3{font-size:14px; line-height:18px;}
}
@media (min-width:320px) and (max-width:359px){
	.activityprogress-list ul li{font-size:7px;}
	.circle-text{top:36px;}
	.sharechat-main{padding-right:15px; padding-left:15px; }
	.profileedit-img .profileeditimg{width:115px; height:115px;}
	.home-page.main-panel{position:relative;}
	.md-effect-5 .md-content{height: calc(100% - 40px); overflow:auto; bottom:20px;}
	.eventtabs-value .mouseWheelButtons{padding:15px 10px;}
}