- if controller_name != 'sessions'
  %br/
  = link_to t('sign_in.caption.button.sign_in'), new_session_path(resource_name), class: 'common-font-color'
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t('sign_in.caption.forgot_password'), new_password_path(resource_name), class: 'common-font-color'
