//========Override boostrap
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse {
  background-color: #008091 !important;
  border-color: #008091 !important;
}

.page-content{
  padding: 40px;
}

// =========Helpers for vertical spacing
.spacer5 { height: 5px; }
.spacer10 { height: 10px; }
.spacer15 { height: 15px; }
.spacer20 { height: 20px; }
.spacer25 { height: 25px; }
.spacer30 { height: 30px; }
.spacer35 { height: 35px; }
.spacer40 { height: 40px; }
.spacer45 { height: 45px; }
.spacer50 { height: 50px; }
.spacer65 { height: 65px; }
.spacer75 { height: 75px; }
.spacer100 { height: 100px; }
.spacer200 { height: 200px; }

.spacer-width {
  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block;
}

// =========Common classes

/* Common colors*/
.round-btn {
  border-radius: 8px;
}

.common-font-color, .light-blue {
  color: #008091;
}

.dark-blue {
  color: #00445A;
}

.grey {
  color: #C0C0C0;
}

/* Common text-classes */

.input-field-subtext {
  @extend .light-blue;
  float: right !important;
  font-size: 85%;
}

/* Common Buttons*/
.dark-blue-btn {
  @extend .round-btn;
  background-color: #00445A;
  border-color: #00445A;
  font-weight: bold;
  color: #FFFFFF;
}
.dark-blue-btn:hover {
  background-color: #006B8D;
  border-color: #006B8D;
}

.btn_sign_in {
  background-color: #008091;
  color: #FFFFFF;
  font-weight:bold;
}

.btn_sign_in:hover {
  color: #FFFFFF;
}

.submit-btn {
  padding-left: 80px;
  padding-right: 80px;
}

.panel-btn {
  margin-bottom: 10px;
  margin-top: 20px;
}

.panel-box {
  border-style: solid;
  border-width: 2px;
  border-color: #C0C0C0;
  padding: 18px 12px;
}

.panel-padding {
  padding: 18px 25px;
}

.logo-span-by {
  margin-left: 4px;
  color: #FFFFFF;
}

.page-header {
  border-bottom: 1px dotted #E2E2E2;
  width: 100%;
}

.dark-blue {
  color: #00445A;
}

.image-thumb {
  height: auto;
  width: 100px;
}


//=========File upload button
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background-color: #008091 !important;
    cursor: inherit;
    display: block;
}

.score-text-box {
  height: 25px !important;
  border-radius: 0 0 0 0 !important;
}

.edit_profile_link {
  font-size: 20px;
  margin-top: 10px;
}

#message-container {
  margin-top: 20px;
  text-align: center;
}

.logo-margin-top {
  margin-top: 5px;
}
