.contentarea
  .activities
    %ul
      - @activities.each do |activity|
        %li
          %i{class: get_activity_icon_class(activity.activity_type)}
          .activitiesinfo
            %h5
              = link_to(activity.title, '#')
            %p.black strategic focus
            %p 500 points
    .pagingrow
      = paginate @activities, :exclude => [:first, :last]