.eventtabs-value
  .mouseWheelButtons
    %a.prev{:href => "#"} Past Events
    .carousel
      %ul
        %li
          %a{:href => "#tabs-1"}
            JAN-FEB
            %span 2014
        %li
          %a{:href => "#tabs-3"}
            MAR-APR
            %span 2014
        %li
          %a{:href => "#tabs-4"}
            MAY-JUNE
            %span 2014
        %li
          %a{:href => "#tabs-5"}
            JUL-AUG
            %span 2014
        %li
          %a{:href => "#tabs-6"}
            SEPT-OCT
            %span 2014
        %li
          %a{:href => "#tabs-1"}
            NOV-DEC
            %span 2014
        %li
          %a{:href => "#tabs-2"}
            JAN-FEB
            %span 2014
        %li
          %a{:href => "#tabs-3"}
            MAR-APR
            %span 2014
        %li
          %a{:href => "#tabs-4"}
            MAY-JUNE
            %span 2014
        %li
          %a{:href => "#tabs-5"}
            JUL-AUG
            %span 2014
        %li
          %a{:href => "#tabs-6"}
            SEPT-OCT
            %span 2014
        %li
          %a{:href => "#tabs-1"}
            NOV-DEC
            %span 2014
        %li
          %a{:href => "#tabs-2"}
            JAN-FEB
            %span 2015
        %li
          %a{:href => "#tabs-3"}
            MAR-APR
            %span 2015
        %li
          %a{:href => "#tabs-4"}
            MAY-JUNE
            %span 2015
        %li
          %a{:href => "#tabs-5"}
            JUL-AUG
            %span 2015
        %li
          %a{:href => "#tabs-6"}
            SEPT-OCT
            %span 2015
        %li
          %a{:href => "#tabs-5"}
            NOV-DEC
            %span 2015
        %li
          %a{:href => "#tabs-2"}
            JAN-FEB
            %span 2016
        %li.current
          %a{:href => "#tabs-3"}
            MAR-APR
            %span 2016
        %li
          %a{:href => "#tabs-4"}
            MAY-JUNE
            %span 2016
    %a.next{:href => "#"} Future Events