%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  - if @activities.present?
    = render partial: 'participant/events/events'
  = render partial: 'participants/components/right_side_bar'
