%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  .contentarea
    .activities
      %ul
        %li
          %i.bigicon-sustainable
          .activitiesinfo
            %h5
              %a{:href => "activities-details.html"} sustainable business PRACTICE
            %p.black strategic focus
            %p 500 points
        %li
          %i.bigicon-delivering
          .activitiesinfo
            %h5
              %a{:href => "activities-details.html"} delivering successful results
            %p.black striving for innovation
            %p 500 points
        %li
          %i.bigicon-brain
          .activitiesinfo
            %h5
              %a{:href => "activities-details.html"} brain training - memory
            %p.black dealing with complexity
            %p 500 points
        %li
          %i.bigicon-putting
          .activitiesinfo
            %h5
              %a{:href => "activities-details.html"} putting people first
            %p.black customer orientation
            %p 500 points
      .pagingrow
        %a.left{:href => "#"}
          %i.icon-previus
          BACK
        %a.right{:href => "#"}
          NEXT
          %i.icon-next
  = render partial: 'participants/components/right_side_bar'
