$('.events_by_first_month').html("#{escape_javascript(render partial: 'events', locals: { events: @events_by_first_month, month: @first_month_name, year: @event_year})}");
$('.events_by_second_month').html("#{escape_javascript(render partial: 'events', locals: { events: @events_by_second_month, month: @second_month_name, year: @event_year})}");
$('#events_info_popup').html("#{escape_javascript(render partial: 'events_info_popup', locals: { events: @events_by_first_month + @events_by_second_month } )}");
