%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  #events_content
    = render partial: 'participant/events/events'
  = render partial: 'participants/components/right_side_bar'