- content_for(:title, 'Drive Events')
.main-panel
  .event-panel
    #eventTabs.clearfix.event-block
      = render partial: 'events_month_scroller'
      .eventtabs-detail{:style => "min-height: inherit;"}
        .eventtabs-title
          %h3 ARRIVA'S UPCOMING EVENTS FOR YOU
          %p Filter by months of the year, past and present. View an event to download material.
        #tabs-1.eventtabs-box.ui-tabs-panel.ui-widget-content.ui-corner-bottom{"aria-expanded" => "true", "aria-hidden" => "false", "aria-labelledby" => "ui-id-12", :role => "tabpanel"}
          .monthevent-people.clearfix.border-bottom.events_by_first_month
            = render partial: 'events', locals: { events: @events_by_first_month, month: @first_month_name, year: @event_year}
          .monthevent-people.clearfix.events_by_second_month
            = render partial: 'events', locals: { events: @events_by_second_month, month: @second_month_name, year: @event_year}

.overlay{"data-sidebar-overlay" => ""}
#events_info_popup
  = render partial: 'events_info_popup', locals: { events: @events_by_first_month + @events_by_second_month }

:javascript
  $(document).ready(function(){
    $('#myStathalf2').circliful();
    $('.recentnote-slide').bxSlider({
      auto: true,
      controls:false
    });
    $( "#eventTabs" ).tabs();
    $(".mouseWheelButtons .carousel").jCarouselLite({
      btnNext: ".mouseWheelButtons .next",
      btnPrev: ".mouseWheelButtons .prev",
      mouseWheel: true,
      vertical: true,
      visible: 14,
      circular: false
    });

    $(window).load(function(){
      $(".content.eventscroll-block").mCustomScrollbar({
            axis:"x",
            theme:"dark-thin",
            autoExpandScrollbar:true,
            advanced:{autoExpandHorizontalScroll:true},
            scrollInertia:400
          });
    });
    model_popup();
  });